.graph-container 
{
    width: auto;
    height: 85%;
    margin: 3px;
    background-color: #f5f5f5;
    border-radius: 12px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }

  .recharts-cartesian-grid line 
  {
    stroke: rgba(11, 11, 11, 0.1);
  }
  
  .recharts-tooltip-wrapper 
  {
    background: #fff;
    border-radius: 6px;
    padding: 3px;
  }
  
  .recharts-legend-item text 
  {
    font-size: 14px;
    fill: #000000;
  }
  
  .recharts-cartesian-axis-tick text 
  {
    fill: #000000;
    font-size: 13px;
  }
  
