.NavBar 
{
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 24px;
    border-bottom: 1px solid #000;
    transition: background-color 0.3s ease;
    position: fixed;
    z-index: 1000; 
    gap: 12px; /* ikonlar arasında boşluk */
}

.NavBar.light 
{
    background-color: #fff;
    color: #000; 
}

.NavBar.dark 
{
    background-color: #000;
    color: #fff;
}

.toggle_icon 
{
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding: 9px;
    display: inline-block;
    object-fit: contain;
    z-index: 10000;
}

.logout_icon
{
    cursor: pointer;
    padding: 11px;
    width: 45px;
    height: 45px;
    color: inherit;
    z-index: 10000;
}

.NavBar.light .logout_icon:hover 
{
    color: #0047FF;
}

.NavBar.dark .logout_icon:hover 
{
    color: #7aa2ff;
}